:markdown
  ## Senior

  The Senior Product Marketing Manager meets the above, while also satisfying
  additional responsibilities and requirements.

  They become product & market expert for GitLab and are able to read trends and
  quickly iterate on messages our marketing & sales team can use. They produce
  collateral such as decks, whitepapers, one pages, case studies, comparison, etc.
  They prepare training curriculum & material for consumption by salespeople &
  associated functions (BDRs, SDRs, Solution Architects etc.), and they work with
  our partners & channels to successful drive the sales of GitLab’s product offerings.

  ### Additional Requirements

  * At least 6 years software marketing experience, including 4 directly in product marketing
  * Experience designing sales collateral from scratch based on sales conversations, sales calls, product interviews, user interviews, market research, and your own experience
  * Experience in building sales enablement collateral and the corresponding training to ensure that salespeople can confidently and accurately deliver GitLab's enterprise value proposition.
  * Experience with sales enablement in a partner & alliances context
  * Relevant experience using or building software products, particularly Cloud software, collaboration software, or developer tools
  * Experience managing sales requirements & expectations in a fast-growing environment
  * Obsessive about quality, clarity, details, & execution
  * Market research experience
  * Stay on top of trends in the space via conferences, publications, social media, etc.
  * Experience with remote-friendly, remote-mostly or remote-only work cultures
  * Experience at multiple SaaS companies
  * Direct experience in the Developer Tools or Collaboration spaces e.g. Atlassian, GitHub, JetBrains, Slack, Xamarin, New Relic, etc.
  * Marketing experience beyond Product Marketing
